<!DOCTYPE html>
<html>
<head>
  <title>Rails Girls - Instagram</title>
  <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon">
  <link rel="icon" href="<%= asset_path 'favicon.ico' %>" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container' id='container'>
    <%= yield %>
  </div>
  <script>
    // [].slice.call( document.querySelectorAll( '.photostack' ) ).forEach( function( el ) { new Photostack( el ); } );

    var photostack = new Photostack( document.getElementById( 'photostack-1' ), { showNavigation: false } );

    var nanobar = new Nanobar({ bg: '#F44336' });

  </script>
</body>
</html>
